// DESKTOP

// Selected nav items
a.active {
	color: white;
}

a.highlight {
	border-radius: 5px;
	color: white;
	background-color: #A576FF;
	font-size: 1.4375em;
	font-weight: bold;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

.nav-open nav {
	padding: 10px 0;
	text-align: center;
	a {
		display: block;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}


nav {
	text-transform: uppercase;
	font-size: .8em;
	width: 100%;

	@media #{$mid-point} {
		text-align: right;
		position: absolute;
		top: 23px;
		right: 0;
		padding: 0 20px;
	}


	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.8);
		transition: .2s ease-in-out;
		display: none;

		@media #{$mid-point} {
			display: none;
		}
		
		@media #{$desktop} {
			display: inline;
			padding: 10px;
		}
		
		


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: -7px;
			font-size: 2.4em;
			border: 0;
			color: white;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {

		color: #fff;
	}

}


// TABLET

@media screen and (min-width: 501px) {

	a.highlight {
		border-radius: 5px;
		color: white;
		background-color: #A576FF;
		font-size: 1.4375em;
		font-weight: bold;
		padding-left: 1.25em;
		padding-right: 1.25em;
		}

		a.active {
			color: white;
		}
	
}


// MOBILE

@media screen and (max-width: 500px) {

	// ENTRA NEL BUNKER BUTTON
	a.highlight {
		border-radius: 5px;
		color: white;
		background-color: #A576FF;
		font-size: 1.4375em;
		font-weight: bold;
		padding-left: 1.25em;
		padding-right: 1.25em;
		width: 50%;
		margin-left: 20%;
		}
		
		
		a.active {
			color: white;
		}

}
	

		
		
