---
import Layout from "../../layouts/Layout.astro";
import PostBox from "../../components/PostBox.astro";
import { getCollection } from "astro:content";
const events = (await getCollection("events")).sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
);
---

<Layout og_type="website">
  <div>
    {
      events.map((event) => (
        <>
          <div class="divider my-2" />
          <PostBox
            title={event.data.title}
            publishedAt={event.data.publishedAt}
            description={event.data.description}
            href={event.slug}
          />
        </>
      ))
    }
  </div>
</Layout>
